/*
 * Meetling style.
 *
 * Color palette:
 *
 * - primary: #4d8dd9
 * - primary shade 66%: #225ca0
 * - secondary: #d94b1f
 */

/* ---- Colors ---- */

.micro-progress,
.action.action-subtle,
.micro-ui-progress,
.micro-ui-menu .action {
    color: #4d8dd9;
}

.action {
    background: #4d8dd9;
}

.action,
.actions > .action:nth-child(n+2) {
    border-color: #225ca0;
}

.link {
    color: #d94b1f;
}

/* ---- Pikaday ---- */

.pika-single {
    border: 1px solid #bbb;
    font: inherit;
}

.pika-single.is-bound {
    box-shadow: none;
}

.pika-lendar {
    width: auto;
    margin: calc(0.25 * 1.5rem);
}

.pika-label {
    vertical-align: bottom;
    padding: calc(0.25 * 1.5em);
    font-size: inherit;
    line-height: inherit;
}

.pika-title select {
    font-weight: normal;
}

.pika-table td {
    width: auto;
    border: 1px solid #ddd;
}

.pika-table th {
    color: #888;
    font-size: 0.9em;
    line-height: inherit;
    font-weight: normal;
}

.pika-button {
    box-sizing: content-box;
    width: 2em;
    padding: calc(0.25 * 1.5em);
    color: #333;
    font-size: inherit;
    line-height: 1;
    background: none;
}

.is-today .pika-button {
    color: #333;
}

.is-selected .pika-button {
    border-radius: 0;
    box-shadow: none;
    color: #d94b1f;
    background: #ddd;
    font-weight: normal;
}

.is-selected.is-today .pika-button {
    font-weight: bold;
}

.pika-button:hover {
    color: #d94b1f;
    background: #ddd;
    border-radius: 0;
}

.pika-table abbr {
    text-decoration: none;
}

.pika-clear {
    display: block;
    clear: both;
    padding: 0;
    border: none;
    margin: calc(0.25 * 1.5rem);
    color: #4d8dd9;
    background: none;
    font: inherit;
    line-height: inherit;
    cursor: pointer;
}

.pika-clear:hover {
    text-decoration: underline;
}

/* ---- DateInput ---- */

.meetling-date-input {
    box-sizing: content-box;
    max-width: calc(4em + 9em + 2em); /* year + longest month name + day */
}

/* ---- Detail ---- */

.meetling-detail {
    color: #888;
    font-size: 0.9em;
    text-align: right;
}

/* ---- StartPage ---- */

.meetling-start-intro {
    margin: calc(3 * 1.5rem) 0;
    text-align: center;
}

.meetling-start-intro .micro-logo {
    font-size: 3rem;
}

.meetling-start-slogan {
    font-size: 2rem;
}

.meetling-start-description {
    color: #888;
}

.meetling-start-create-meeting {
    font-size: 1.5rem;
}

/* ---- MeetingPage ---- */

.meetling-meeting-meta {
    padding: 0;
    list-style: none;
}

.meetling-meeting-meta i {
    color: #888;
}

.meetling-meeting-agenda ul,
.meetling-meeting-agenda ol {
    padding: 0;
    list-style: none;
}

.meetling-meeting-agenda > ul li:not(.micro-lgroup) {
    padding: calc(0.5 * 1.5rem) 0 calc(0.5 * 1.5rem) calc(2 * 1.5rem);
    border-bottom: 1px solid #ddd;
}

.meetling-meeting-agenda > ul > li:last-child {
    border-bottom: none;
}

.meetling-meeting-items > ol {
    counter-reset: meetling-agenda-item;
}

.meetling-meeting-trashed-items-cover {
    color: #888;
    text-align: right;
    font-size: 0.9em;
}

.meetling-meeting-agenda > ul.meetling-meeting-agenda-trashed-items-visible
        .meetling-meeting-trashed-items-cover {
    display: none;
}

.meetling-meeting-trashed-items {
    color: #888;
}

.meetling-meeting-agenda > ul:not(.meetling-meeting-agenda-trashed-items-visible)
        .meetling-meeting-trashed-items {
    display: none;
}

.meetling-meeting-trashed-items-header > p {
    flex: auto;
}

.meetling-meeting-actions > * {
    margin: calc(0.25 * 1.5rem);
}

.meetling-meeting-actions h1 {
    color: #888;
    font-size: 0.9rem;
    text-transform: uppercase;
}

/* ---- AgendaItemElement ---- */

.meetling-agenda-item {
    position: relative;
}

.meetling-agenda-item-handle {
    position: absolute;
    left: 0;
    top: calc(0.5 * 1.5rem);
}

.meetling-agenda-item-trashed .meetling-agenda-item-handle {
    display: none;
}

.meetling-agenda-item-handle div {
    width: calc(0.5 * 1.5rem);
    height: 1.5rem;
    background: radial-gradient(circle closest-side, #4d8dd9 0%, #4d8dd9 50%, transparent 50%) 0 0 /
                calc(1.5rem / 4) calc(1.5rem / 4);
}

.meetling-agenda-item-handle p {
    width: 1.5rem;
}

.meetling-agenda-item-handle p::before {
    counter-increment: meetling-agenda-item;
    content: counter(meetling-agenda-item) '.';
}

.micro-ol-li-moving .meetling-agenda-item-handle p::before {
    content: '..';
}

.meetling-agenda-item header h1 {
    flex: auto;
    font-size: 1rem;
}

.meetling-agenda-item header i {
    color: #888;
}

.meetling-agenda-item-duration {
    white-space: nowrap;
}

.meetling-agenda-item-description {
    color: #888;
}

.meetling-agenda-item .micro-menu {
    margin-bottom: 0;
    justify-content: flex-end;
}

.meetling-agenda-item.meetling-agenda-item-trashed .meetling-agenda-item-menu {
    display: none;
}

.meetling-agenda-item:not(.meetling-agenda-item-trashed) .meetling-agenda-item-trashed-menu {
    display: none;
}

/* ---- AgendaItemEditor ---- */

.meetling-agenda-item-editor h1 {
    margin-top: 0;
    font-size: 1rem;
}

.meetling-agenda-item-editor .group {
    margin-bottom: 0;
}
