/*
 * Meetling style.
 *
 * Color palette:
 *
 * - text: #333
 * - text subtle: #888
 * - text inverse: #fff
 * - primary: #4d8dd9
 * - primary shade 66%: #225ca0
 * - secondary: #d94b1f
 * - delimiter: #ddd
 * - border: #bbb
 */

/* ---- General ---- */

* {
    box-sizing: border-box;
}

html {
    color: #333;
    background: #fff;
    font: medium / 1.5 "Open Sans";
}

body {
    margin: 0;
}

h1,
p,
ul,
ol {
    display: block;
    margin: 1.5rem 0;
    font-weight: normal;
}

h1 {
    border-bottom: 1px solid #ddd;
    font-size: 2rem;
}

section h1 { font-size: 1.66rem; }
section section h1 { font-size: 1.33rem; }

header h1,
footer h1,
li h1 {
    border-bottom: none;
}

small {
    font-size: 0.875rem;
}

.group {
    display: flex;
}

.group > * {
    margin: 0;
}

.group > *:nth-child(+2) {
    margin-left: calc(0.25 * 1.5rem);
}

.compact h1,
.compact p,
.compact ul,
.compact ol {
    margin: calc(0.25 * 1.5rem) 0;
}

.templates {
    display: none;
}

/* ---- Links ---- */

.link {
    display: inline;
    padding: 0;
    border: none;
    color: #d94b1f;
    background: none;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

h1 .link {
    color: inherit;
}

h1 .link:hover {
    text-decoration: none;
}

/* ---- Actions ---- */

.action {
    display: inline-block;
    padding: calc(0.25 * 1.5em);
    border: none;
    border-bottom: 2px solid #225ca0;
    border-radius: calc(0.25 * 1.5em);
    color: #fff;
    background: #4d8dd9;
    font: inherit;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

.action:disabled {
    cursor: default;
}

.action-subtle {
    display: inline;
    padding: 0;
    border: none;
    border-radius: 0;
    color: #4d8dd9;
    background: none;
    font-size: 0.9em;
    line-height: 1.5;
}

.action-subtle:hover {
    text-decoration: underline;
}

.actions {
    display: flex;
}

.actions > .action {
    border-radius: 0;
}

.actions > .action:first-child {
    border-top-left-radius: calc(0.25 * 1.5em);
    border-bottom-left-radius: calc(0.25 * 1.5em);
}

.actions > .action:last-child {
    border-top-right-radius: calc(0.25 * 1.5em);
    border-bottom-right-radius: calc(0.25 * 1.5em);
}

.actions > .action:nth-child(+2) {
    border-left: 1px solid #225ca0;
}

.actions > .action-subtle:nth-child(+2) {
    border-left: none;
    margin-left: calc(0.25 * 1.5rem);
}

/* ---- Forms ---- */

input,
textarea,
select {
    padding: calc(0.25 * 1.5em);
    border: 1px solid #bbb;
    font: inherit;
}

input:focus {
    outline: none;
}

label {
    display: block;
    margin: 1.5rem 0;
}

label > input,
label > textarea,
label > select {
    display: block;
    width: 100%;
}

label > textarea {
    height: calc(5 * 1.5em + 2 * 0.25 * 1.5em);
}

label > small {
    display: block;
    font-size: 0.9em;
}

label > small + small {
    color: #888;
}

.compact label {
    margin: calc(0.25 * 1.5rem) 0;
}

/* ---- Pikaday ---- */

.pika-single {
    border: 1px solid #bbb;
    font: inherit;
}

.pika-single.is-bound {
    box-shadow: none;
}

.pika-lendar {
    width: auto;
    margin: calc(0.25 * 1.5rem);
}

.pika-label {
    vertical-align: bottom;
    padding: calc(0.25 * 1.5em);
    font-size: inherit;
    line-height: inherit;
}

.pika-title select {
    font-weight: normal;
}

.pika-table td {
    width: auto;
    border: 1px solid #ddd;
}

.pika-table th {
    color: #888;
    font-size: 0.9em;
    line-height: inherit;
    font-weight: normal;
}

.pika-button {
    box-sizing: content-box;
    width: 2em;
    padding: calc(0.25 * 1.5em);
    color: #333;
    font-size: inherit;
    line-height: 1;
    background: none;
}

.is-today .pika-button {
    color: #333;
}

.is-selected .pika-button {
    border-radius: 0;
    box-shadow: none;
    color: #d94b1f;
    background: #ddd;
    font-weight: normal;
}

.is-selected.is-today .pika-button {
    font-weight: bold;
}

.pika-button:hover {
    color: #d94b1f;
    background: #ddd;
    border-radius: 0;
}

.pika-table abbr {
    text-decoration: none;
}

.pika-clear {
    display: block;
    clear: both;
    padding: 0;
    border: none;
    margin: calc(0.25 * 1.5rem);
    color: #4d8dd9;
    background: none;
    font: inherit;
    line-height: inherit;
    cursor: pointer;
}

.pika-clear:hover {
    text-decoration: underline;
}

/* ---- DateInput ---- */

.meetling-date-input {
    box-sizing: content-box;
    max-width: calc(4em + 9em + 2em); /* year + longest month name + day */
}

/* ---- Detail ---- */

.meetling-detail {
    color: #888;
    font-size: 0.9em;
    text-align: right;
}

/* ---- Logo ---- */

.meetling-logo {
    border-bottom: none;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.meetling-logo .link {
    color: inherit;
}

.meetling-logo .link:hover {
    text-decoration: none;
}

.meetling-logo img {
    height: 2em;
    vertical-align: text-bottom;
}

/* ---- UserElement ---- */

.meetling-user {
    display: inline-block;
    vertical-align: bottom;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.meetling-user i {
    color: #888;
}

/* ---- UI ---- */

.micro-ui-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.33);
    background: #fff;
}

.micro-ui-header nav {
    display: flex;
    white-space: nowrap;
}

.meetling-ui-logo {
    margin: 0;
    font-size: 1rem;
}

.meetling-ui-logo .link {
    display: block;
    padding: calc(0.25 * 1.5em) 0;
}

.meetling-ui-logo img {
    vertical-align: middle;
}

.meetling-ui-beta {
    color: #888;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.meetling-ui-header-fill {
    flex: auto;
    min-width: calc(0.25 * 1.5rem);
}

main {
    padding-top: calc(1.5 * 1.5rem);
}

.micro-ui-progress {
    color: #4d8dd9;
}

/* ---- Notification ---- */

.meetling-notification {
    display: block;
    padding: calc(0.5 * 1.5em) 0;
    border-top: 1px solid #ddd;
}

.meetling-notification .micro-ui-inside > :first-child {
    margin-top: 0;
}

.meetling-notification .micro-ui-inside > :last-child {
    margin-bottom: 0;
}

/* ---- SimpleNotification ---- */

.meetling-simple-notification-content > :first-child {
    margin-top: 0;
}

/* ---- ErrorNotification ---- */

.meetling-error-notification i {
    color: red;
}

/* ---- UIMenu ---- */

.meetling-ui-menu {
    position: relative;
    border-left: 1px solid #ddd;
}

.meetling-ui-menu:last-child {
    border-right: 1px solid #ddd;
}

.meetling-ui-menu .link,
.meetling-ui-menu .action {
    display: block;
    padding: calc(0.25 * 1.5em);
    border: none;
    border-radius: 0;
    background: none;
    line-height: 1.5;
}

.meetling-ui-menu .link:hover,
.meetling-ui-menu .action:hover {
    background: #ddd;
    text-decoration: none;
}

.meetling-ui-menu .action {
    color: #4d8dd9;
}

.meetling-ui-menu > .link {
    color: inherit;
}

.meetling-ui-menu:hover > .link {
    background: #ddd;
}

.meetling-ui-menu > .link i {
    color: #888;
}

.meetling-ui-menu ul {
    display: none;
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.33);
    background: #fff;
    list-style: none;
}

.meetling-ui-menu:hover ul {
    display: block;
}

.meetling-ui-menu li {
    border-top: 1px solid #ddd;
}

/* ---- StartPage ---- */

.meetling-start-intro {
    margin: calc(3 * 1.5rem) 0;
    text-align: center;
}

.meetling-start-intro .meetling-logo {
    font-size: 3rem;
}

.meetling-start-slogan {
    font-size: 2rem;
}

.meetling-start-description {
    color: #888;
}

.meetling-start-create-meeting {
    font-size: 1.5rem;
}

/* ---- MeetingPage ---- */

.meetling-meeting-meta {
    padding: 0;
    list-style: none;
}

.meetling-meeting-meta i {
    color: #888;
}

.meetling-meeting-agenda ul,
.meetling-meeting-agenda ol {
    padding: 0;
    list-style: none;
}

.meetling-meeting-agenda > ul li:not(.micro-lgroup) {
    padding: calc(0.5 * 1.5rem) 0 calc(0.5 * 1.5rem) calc(2 * 1.5rem);
    border-bottom: 1px solid #ddd;
}

.meetling-meeting-agenda > ul > li:last-child {
    border-bottom: none;
}

.meetling-meeting-items > ol {
    counter-reset: meetling-agenda-item;
}

.meetling-meeting-trashed-items-cover {
    color: #888;
    text-align: right;
    font-size: 0.9em;
}

.meetling-meeting-agenda > ul.meetling-meeting-agenda-trashed-items-visible
        .meetling-meeting-trashed-items-cover {
    display: none;
}

.meetling-meeting-trashed-items {
    color: #888;
}

.meetling-meeting-agenda > ul:not(.meetling-meeting-agenda-trashed-items-visible)
        .meetling-meeting-trashed-items {
    display: none;
}

.meetling-meeting-trashed-items-header > p {
    flex: auto;
}

.meetling-meeting-actions > * {
    margin: calc(0.25 * 1.5rem);
}

.meetling-meeting-actions h1 {
    color: #888;
    font-size: 0.9rem;
    text-transform: uppercase;
}

/* ---- AgendaItemElement ---- */

.meetling-agenda-item {
    position: relative;
}

.meetling-agenda-item-handle {
    position: absolute;
    left: 0;
    top: calc(0.5 * 1.5rem);
}

.meetling-agenda-item-trashed .meetling-agenda-item-handle {
    display: none;
}

.meetling-agenda-item-handle div {
    width: calc(0.5 * 1.5rem);
    height: 1.5rem;
    background: radial-gradient(circle closest-side, #4d8dd9 0%, #4d8dd9 50%, transparent 50%) 0 0 /
                calc(1.5rem / 4) calc(1.5rem / 4);
}

.meetling-agenda-item-handle p {
    width: 1.5rem;
}

.meetling-agenda-item-handle p::before {
    counter-increment: meetling-agenda-item;
    content: counter(meetling-agenda-item) '.';
}

.micro-ol-li-moving .meetling-agenda-item-handle p::before {
    content: '..';
}

.meetling-agenda-item header h1 {
    flex: auto;
    font-size: 1rem;
}

.meetling-agenda-item header i {
    color: #888;
}

.meetling-agenda-item-duration {
    white-space: nowrap;
}

.meetling-agenda-item-description {
    color: #888;
}

.meetling-agenda-item .micro-menu {
    margin-bottom: 0;
    justify-content: flex-end;
}

.meetling-agenda-item.meetling-agenda-item-trashed .meetling-agenda-item-menu {
    display: none;
}

.meetling-agenda-item:not(.meetling-agenda-item-trashed) .meetling-agenda-item-trashed-menu {
    display: none;
}

/* ---- AgendaItemEditor ---- */

.meetling-agenda-item-editor h1 {
    margin-top: 0;
    font-size: 1rem;
}

.meetling-agenda-item-editor .group {
    margin-bottom: 0;
}
