/* ---- General ---- */

.micro-multiline {
    white-space: pre-line;
}

.micro-lgroup {
    list-style: none;
}

.micro-lgroup > ul,
.micro-lgroup > ol {
    padding: 0;
    margin: 0;
}

.micro-icon-title {
    border-bottom: none;
    color: #888;
    font-size: 3rem;
}

/* ---- Menu ---- */

.micro-menu {
    display: flex;
}

.micro-menu > * {
    margin: 0 calc(0.125 * 1.5rem);
}

.micro-menu:not(.micro-menu-secondary-visible) > .micro-menu-secondary {
    display: none;
}

.micro-menu > :not(.micro-menu-secondary) + .micro-menu-toggle-secondary {
    display: none;
}

/* ---- UI ---- */

.micro-ui-dragging {
    cursor: move;
}

.micro-ui-inside {
    box-sizing: content-box;
    max-width: 70ch;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.micro-ui-progress {
    margin: calc(3 * 1.5rem) 0;
    color: #00f;
    font-size: 3rem;
    text-align: center;
}

/* ---- OL ---- */

.micro-ol-handle {
    cursor: move;
}

/* ---- NotFoundPage ---- */

micro-not-found-page {
    text-align: center;
}

/* ---- ForbiddenPage ---- */

micro-forbidden-page {
    text-align: center;
}
