/* ---- General ---- */

* {
    box-sizing: border-box;
}

html {
    color: #333;
    background: #fff;
    font: medium / 1.5 "Open Sans";
}

body {
    margin: 0;
}

h1,
p,
ul,
ol {
    display: block;
    margin: 1.5rem 0;
    font-weight: normal;
}

h1 {
    border-bottom: 1px solid #ddd;
    font-size: 2rem;
}

section h1 { font-size: 1.66rem; }
section section h1 { font-size: 1.33rem; }

li h1 {
    border-bottom: none;
}

small {
    font-size: 0.875rem;
}

.group {
    display: flex;
}

.group > * {
    margin: 0;
}

.group > *:nth-child(n+2) {
    margin-left: calc(0.25 * 1.5rem);
}

.compact h1,
.compact p,
.compact ul,
.compact ol {
    margin: calc(0.25 * 1.5rem) 0;
}

.templates {
    display: none;
}

.micro-multiline {
    white-space: pre-line;
}

.micro-lgroup {
    list-style: none;
}

.micro-lgroup > ul,
.micro-lgroup > ol {
    padding: 0;
    margin: 0;
}

.micro-icon-title {
    border-bottom: none;
    color: #888;
    font-size: 3rem;
}

.micro-progress {
    color: #4d8dd9;
}

/* ---- Links ---- */

.link {
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    color: #d94b1f;
    background: none;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.link:disabled {
    cursor: default;
}

h1 .link {
    color: inherit;
}

h1 .link:hover {
    text-decoration: none;
}

/* ---- Actions ---- */

.action {
    display: inline-block;
    margin: 0;
    padding: calc(0.25 * 1.5em);
    border: none;
    border-bottom: 2px solid #225ca0;
    border-radius: calc(0.25 * 1.5em);
    color: #fff;
    background: #4d8dd9;
    font: inherit;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

.action:disabled {
    cursor: default;
}

.action-subtle {
    display: inline;
    padding: 0;
    border: none;
    border-radius: 0;
    color: #4d8dd9;
    background: none;
    font-size: 0.9em;
    line-height: 1.5;
}

.action-subtle:hover {
    text-decoration: underline;
}

.actions {
    display: flex;
}

.actions > .action {
    border-radius: 0;
}

.actions > .action:first-child {
    border-top-left-radius: calc(0.25 * 1.5em);
    border-bottom-left-radius: calc(0.25 * 1.5em);
}

.actions > .action:last-child {
    border-top-right-radius: calc(0.25 * 1.5em);
    border-bottom-right-radius: calc(0.25 * 1.5em);
}

.actions > .action:nth-child(n+2) {
    border-left: 1px solid #225ca0;
}

.actions > .action-subtle:nth-child(n+2) {
    border-left: none;
    margin-left: calc(0.25 * 1.5rem);
}

/* ---- Forms ---- */

input,
textarea,
select {
    padding: calc(0.25 * 1.5em);
    border: 1px solid #bbb;
    font: inherit;
}

input:invalid {
    box-shadow: none;
}

label {
    display: block;
}

label > input,
label > textarea,
label > select {
    display: block;
    width: 100%;
}

label > textarea {
    height: calc(5 * 1.5em + 2 * 0.25 * 1.5em);
}

label > small {
    display: block;
    font-size: 0.9em;
}

label > small + small {
    color: #888;
}

form > label {
    margin: 1.5rem 0;
}

.compact form > label {
    margin: calc(0.25 * 1.5rem) 0;
}

/* ---- Menu ---- */

.micro-menu {
    display: flex;
}

.micro-menu > *:nth-child(n+2) {
    margin-left: calc(0.25 * 1.5rem);
}

.micro-menu:not(.micro-menu-secondary-visible) > .micro-menu-secondary {
    display: none;
}

.micro-menu > :not(.micro-menu-secondary) + .micro-menu-toggle-secondary {
    display: none;
}

/* ---- UI ---- */

.micro-ui-dragging {
    cursor: move;
}

.micro-ui-inside {
    box-sizing: content-box;
    max-width: 70ch;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.micro-ui-progress {
    margin: calc(3 * 1.5rem) 0;
    color: #00f;
    font-size: 3rem;
    text-align: center;
}

/* ---- OL ---- */

.micro-ol-handle {
    cursor: move;
}

/* ---- CommentsElement ---- */

.micro-comments-complete .micro-progress {
    display: none;
}

/* ---- BootPage ---- */

.micro-boot-page {
    text-align: center;
}

.micro-boot-page h1 {
    color: #f00;
}

/* ---- NotFoundPage ---- */

micro-not-found-page {
    text-align: center;
}

/* ---- ForbiddenPage ---- */

micro-forbidden-page {
    text-align: center;
}
