/*
 * micro style.
 *
 * Color palette:
 *
 * - text: #333
 * - text subtle: #888
 * - text inverse: #fff
 * - delimiter: #ddd
 * - border: #bbb
 */

/* ---- General ---- */

* {
    box-sizing: border-box;
}

html {
    color: #333;
    background: #fff;
    font: medium / 1.5 "Open Sans";
}

body {
    margin: 0;
}

h1,
p,
ul,
ol,
pre {
    display: block;
    margin: 1.5rem 0;
    font-weight: normal;
}

h1 {
    border-bottom: 1px solid #ddd;
    font-size: 2rem;
}

section h1 { font-size: 1.66rem; }
section section h1 { font-size: 1.33rem; }

li h1 {
    border-bottom: none;
}

ul,
ol {
    padding-left: 1.5rem;
}

pre {
    /* Prevent browsers from manipulating the font size if the font family equals "monospace" */
    font: 0.875em / 1.5 monospace, monospace;
    white-space: pre-wrap;
}

.micro-small, small {
    font-size: 0.875em;
    color: #888;
}

.micro-small h1,
.micro-small p,
.micro-small ul,
.micro-small ol,
.micro-small pre {
    margin: calc(0.875 * 1.5rem) 0;
}

.group {
    display: flex;
}

.group > * {
    margin: 0;
}

.group > *:nth-child(n+2) {
    margin-left: calc(0.25 * 1.5rem);
}

.compact h1,
.compact p,
.compact ul,
.compact ol,
.compact pre {
    margin: calc(0.25 * 1.5rem) 0;
}

.templates {
    display: none;
}

.micro-multiline {
    white-space: pre-line;
}

.micro-lgroup {
    list-style: none;
}

.micro-lgroup > ul,
.micro-lgroup > ol {
    padding: 0;
    margin: 0;
}

.micro-icon-title {
    border-bottom: none;
    color: #888;
    font-size: 3rem;
}

.micro-progress {
    color: #08f;
}

/* ---- Links ---- */

.link {
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    color: #f80;
    background: none;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.link:disabled {
    cursor: default;
}

h1 .link {
    color: inherit;
}

h1 .link:hover {
    text-decoration: none;
}

/* ---- Actions ---- */

.action {
    display: inline-block;
    margin: 0;
    padding: calc(0.25 * 1.5em);
    border: none;
    border-bottom: 2px solid #005aa8;
    border-radius: calc(0.25 * 1.5em);
    color: #fff;
    background: #08f;
    font: inherit;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

.action:disabled {
    cursor: default;
}

.action-subtle {
    display: inline;
    padding: 0;
    border: none;
    border-radius: 0;
    color: #08f;
    background: none;
    font-size: 0.9em;
    line-height: 1.5;
}

.action-subtle:hover {
    text-decoration: underline;
}

.actions {
    display: flex;
}

.actions > .action {
    border-radius: 0;
}

.actions > .action:first-child {
    border-top-left-radius: calc(0.25 * 1.5em);
    border-bottom-left-radius: calc(0.25 * 1.5em);
}

.actions > .action:last-child {
    border-top-right-radius: calc(0.25 * 1.5em);
    border-bottom-right-radius: calc(0.25 * 1.5em);
}

.actions > .action:nth-child(n+2) {
    border-left: 1px solid #005aa8;
}

.actions > .action-subtle:nth-child(n+2) {
    border-left: none;
    margin-left: calc(0.25 * 1.5rem);
}

/* ---- Forms ---- */

input,
textarea,
select {
    padding: calc(0.25 * 1.5em);
    border: 1px solid #bbb;
    font: inherit;
}

input:invalid {
    box-shadow: none;
}

label {
    display: block;
}

label > input,
label > textarea,
label > select {
    display: block;
    width: 100%;
}

label > textarea {
    height: calc(5 * 1.5em + 2 * 0.25 * 1.5em);
}

label > small {
    display: block;
    font-size: 0.875em;
}

label > small:first-of-type {
    color: inherit;
}

form > label {
    margin: 1.5rem 0;
}

.compact form > label {
    margin: calc(0.25 * 1.5rem) 0;
}

/* ---- Logo ---- */

.micro-logo {
    border-bottom: none;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.micro-logo .link {
    color: inherit;
}

.micro-logo .link:hover {
    text-decoration: none;
}

.micro-logo img {
    height: 2em;
    vertical-align: text-bottom;
}

/* ---- Timeline ---- */

.micro-timeline {
    padding-left: 1.5rem;
    list-style: none;
}

.micro-timeline > li {
    position: relative;
}

.micro-timeline > li::before {
    content: '';
    position: absolute;
    left: calc(-1.5rem / 2);
    top: 0;
    bottom: 0;
    border-left: 1px solid #ddd;
}

.micro-timeline > li:first-child::before {
    top: 50%;
}

.micro-timeline > li:last-child::before {
    bottom: 50%;
}

.micro-timeline > li::after {
    content: '';
    position: absolute;
    left: calc(-1.5rem / 2 - 1.5rem / 8);
    top: calc(50% - 1.5rem / 8);
    width: calc(1.5rem / 4);
    height: calc(1.5rem / 4);
    border-radius: calc(1.5rem / 8);
    background: #ddd;
}

.micro-timeline > li > time {
    display: inline-block;
    margin-right: 1ch;
    font-size: 0.875em;
    color: #888;
}

/* ---- Menu ---- */

.micro-menu {
    display: flex;
}

.micro-menu > *:nth-child(n+2) {
    margin-left: calc(0.25 * 1.5rem);
}

.micro-menu:not(.micro-menu-secondary-visible) > .micro-menu-secondary {
    display: none;
}

.micro-menu > :not(.micro-menu-secondary) + .micro-menu-toggle-secondary {
    display: none;
}

/* ---- UserElement ---- */

.micro-user {
    display: inline-block;
    vertical-align: bottom;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.micro-user i {
    color: #888;
}

/* ---- UI ---- */

.micro-ui-dragging {
    cursor: move;
}

.micro-ui-inside {
    box-sizing: content-box;
    max-width: 70ch;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.micro-ui-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.33);
    background: #fff;
}

.micro-ui-header nav {
    display: flex;
    white-space: nowrap;
}

.micro-ui-logo {
    border-bottom: none;
    margin: 0;
    font-size: 1rem;
}

.micro-ui-logo .link {
    display: block;
    padding: calc(0.25 * 1.5em) 0;
}

.micro-ui-logo img {
    vertical-align: middle;
}

.micro-ui-beta {
    color: #888;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.micro-ui-header-fill {
    flex: auto;
    min-width: calc(0.25 * 1.5rem);
}

body:not(.micro-ui-settings-have-feedback-url) .micro-ui-feedback {
    display: none;
}

body:not(.micro-ui-user-is-staff) .micro-ui-activity {
    display: none;
}

main {
    padding-top: calc(1.5 * 1.5rem);
}

.micro-ui-progress {
    margin: calc(3 * 1.5rem) 0;
    color: #08f;
    font-size: 3rem;
    text-align: center;
}

/* ---- UIMenu ---- */

.micro-ui-menu {
    position: relative;
    border-left: 1px solid #ddd;
}

.micro-ui-menu:last-child {
    border-right: 1px solid #ddd;
}

.micro-ui-menu .link,
.micro-ui-menu .action {
    display: block;
    padding: calc(0.25 * 1.5em);
    border: none;
    border-radius: 0;
    background: none;
    line-height: 1.5;
}

.micro-ui-menu .link:hover,
.micro-ui-menu .action:hover {
    background: #ddd;
    text-decoration: none;
}

.micro-ui-menu .action {
    color: #08f;
}

.micro-ui-menu > .link {
    color: inherit;
}

.micro-ui-menu:hover > .link {
    background: #ddd;
}

.micro-ui-menu > .link i {
    color: #888;
}

.micro-ui-menu ul {
    display: none;
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.33);
    background: #fff;
    list-style: none;
}

.micro-ui-menu:hover ul {
    display: block;
}

.micro-ui-menu li {
    border-top: 1px solid #ddd;
}

/* ---- Notification ---- */

.micro-notification {
    display: block;
    padding: calc(0.5 * 1.5em) 0;
    border-top: 1px solid #ddd;
}

.micro-notification .micro-ui-inside > :first-child {
    margin-top: 0;
}

.micro-notification .micro-ui-inside > :last-child {
    margin-bottom: 0;
}

/* ---- SimpleNotification ---- */

.micro-simple-notification-content > :first-child {
    margin-top: 0;
}

/* ---- ErrorNotification ---- */

.micro-error-notification i {
    color: red;
}

/* ---- OL ---- */

.micro-ol-handle {
    cursor: move;
}

/* ---- BootPage ---- */

.micro-boot-page {
    text-align: center;
}

.micro-boot-page h1 {
    color: #f00;
}

.micro-boot-page-detail {
    margin-top: calc(3 * 1.5rem);
    text-align: left;
}

/* ---- NotFoundPage ---- */

micro-not-found-page {
    text-align: center;
}

/* ---- ForbiddenPage ---- */

micro-forbidden-page {
    text-align: center;
}

/* ---- EditUserPage ---- */

.micro-edit-user-email header {
    align-items: flex-end;
}

.micro-edit-user-email header h1 {
    flex: auto;
}

micro-edit-user-page:not(.micro-edit-user-has-email) .micro-edit-user-remove-email {
    display: none;
}

.micro-edit-user-has-email .micro-edit-user-set-email-1 {
    display: none;
}

.micro-edit-user-set-email-2 {
    display: none;
}

.micro-edit-user-set-email-2 h1 {
    border-bottom: none;
    font-size: 1rem;
}

micro-edit-user-page:not(.micro-edit-user-has-email) .micro-edit-user-email-value {
    display: none;
}

/* ---- ActivityPage ---- */

micro-activity-page > ul {
    list-style: none;
}

.micro-activity-all .micro-activity-show-more {
    display: none;
}
