<template class="meetling-edit-user-page-template">
    <h1>Edit user settings</h1>
    <form class="meetling-edit-user-edit">
        <label>
            <input name="name" />
            <small>Name</small>
            <small>Your name or nick name.</small>
        </label>
        <p class="actions">
            <button class="action"><i class="fa fa-check-circle"></i> Save</button>
        </p>
    </form>

    <section class="meetling-edit-user-email">
        <header class="group">
            <h1>Email</h1>
            <div class="meetling-edit-user-remove-email actions">
                <button class="action"><i class="fa fa-trash-o"></i> Remove</button>
            </div>
        </header>

        <div class="meetling-edit-user-set-email-1">
            <form>
                <label>
                    <input name="email" type="email" required="required" />
                    <small>Email address</small>
                </label>
                <p class="actions">
                    <button class="action">
                        <i class="fa fa-check-circle"></i> Add email address
                    </button>
                </p>
            </form>
        </div>

        <section class="meetling-edit-user-set-email-2">
            <h1>Add email address</h1>
            <p>
                We've sent a message to your email address. Please open it and follow the
                instructions.
            </p>
            <p class="actions">
                <button class="action">Cancel</button>
            </p>
            <p class="micro-progress"><i class="fa fa-spin fa-spinner"></i></p>
        </section>

        <p class="meetling-edit-user-email-value"></p>

        <p><small>The email address is only visible to you.</small></p>
    </section>
</template>
