<template class="meetling-edit-settings-page-template">
    <h1>Edit site settings</h1>
    <form class="meetling-edit-settings-edit">
        <label>
            <input name="title" required="required" />
            <small>Title</small>
        </label>
        <label>
            <input name="icon" />
            <small>Icon (optional)</small>
            <small>URL of the site icon.</small>
        </label>
        <label>
            <input name="favicon" />
            <small>Favicon (optional)</small>
            <small>URL of the site icon optimized for a small size.</small>
        </label>
        <label>
            <input name="provider_name" />
            <small>Service provider name (optional)</small>
        </label>
        <label>
            <input name="provider_url" />
            <small>Service provider website (optional)</small>
            <small>URL of the website of the service provider.</small>
        </label>
        <label>
            <input name="provider_description" />
            <small>Service provider description (optional)</small>
            <small>“The service is provided by Provider, …”</small>
        </label>
        <label>
            <input name="feedback_url" />
            <small>Feedback &amp; help site (optional)</small>
            <small>URL of the feedback site / help desk.</small>
        </label>
        <p class="actions">
            <button class="action"><i class="fa fa-check-circle"></i> Done</button>
            <a class="action action-cancel" href="/">Cancel</a>
        </p>
    </form>
</template>
