<template class="meetling-edit-meeting-page-template">
    <h1></h1>
    <form class="meetling-edit-meeting-edit" novalidate="novalidate">
        <label>
            <input name="title" />
            <small>Title</small>
        </label>
        <label>
            <div class="group">
                <input class="meetling-date-input" name="date" readonly="readonly" />
                <input is="meetling-time-input" name="time" />
            </div>
            <small>Date and time (optional)</small>
            <small>
                When does the meeting begin? For example
                <em><span class="meetling-edit-meeting-example-date"></span> | 13:30</em>.
            </small>
        </label>
        <label>
            <input name="location" />
            <small>Location (optional)</small>
            <small>Where does the meeting take place?</small>
        </label>
        <label>
            <textarea name="description"></textarea>
            <small>Description (optional)</small>
        </label>
        <p class="actions">
            <button class="action"><i class="fa fa-check-circle"></i> Done</button>
            <a class="action action-cancel">Cancel</a>
        </p>
    </form>
</template>
