{% extends 'page.html' %}

{% block page-attrs %}is="meetling-edit-settings-page"{% end %}

{% block page-content %}
    <h1>Edit site settings</h1>
    <form class="meetling-edit-settings-edit" novalidate="novalidate">
        <label>
            <input name="title" value="{{ settings.title }}" autofocus="autofocus" />
            <small>Title</small>
        </label>
        <label>
            <input name="icon" type="url" value="{{ settings.icon or '' }}" />
            <small>Icon (optional)</small>
            <small>URL of the site icon.</small>
        </label>
        <label>
            <input name="favicon" type="url" value="{{ settings.favicon or '' }}" />
            <small>Favicon (optional)</small>
            <small>URL of the site icon optimized for a small size.</small>
        </label>
        <p class="actions">
            <button class="action"><i class="fa fa-check-circle"></i> Done</button>
            <a class="action action-cancel" href="/">Cancel</a>
        </p>
    </form>
{% end %}
