{% extends 'page.html' %}

{% block page-attrs %}
    is="meetling-edit-meeting-page"
    {% if meeting %}
        meeting="{{ json_encode(meeting.json()) }}"
    {% end %}
{% end %}

{% block page-content %}
    <h1>{{ 'Edit ' + meeting.title if meeting else 'New Meeting' }}</h1>
    <form class="meetling-edit-meeting-edit">
        <label>
            <input name="title" value="{{ meeting.title if meeting else '' }}"
                   autofocus="autofocus" />
            <small>Title</small>
        </label>
        <label>
            <textarea name="description">{{ meeting.description or '' if meeting else '' }}</textarea>
            <small>Description (optional)</small>
        </label>
        <p class="actions">
            <button class="action"><i class="fa fa-check-circle"></i> Done</button>
            <a class="action action-cancel"
               href="{{ '/meetings/' + meeting.id if meeting else '/' }}">
                Cancel
            </a>
        </p>
    </form>
{% end %}
