{% extends micro.html %}

{% block env %}
    {% set ui_type = 'meetling-ui' %}
{% end %}

{% block head %}
    <link rel="stylesheet" href="{{ static_url('lib/pikaday/css/pikaday.css') }}" />
    <link rel="stylesheet" href="{{ static_url('meetling.css') }}" />

    <script src="{{ static_url('lib/pikaday/pikaday.js') }}" defer="defer"></script>
    <script src="{{ static_url('meetling.js') }}" defer="defer"></script>
{% end %}

{% block header %}
    <h1 class="meetling-ui-logo">
        <a class="link" href="/">
            <img /> <span class="meetling-ui-logo-text"></span>
            <span class="meetling-ui-beta">Beta</span>
        </a>
    </h1>

    <div class="meetling-ui-header-fill"></div>

    <div class="meetling-ui-menu">
        <button class="link"><meetling-user></meetling-user></button>
        <ul>
            <li class="meetling-ui-edit-user">
                <a class="action">
                    <i class="fa fa-fw fa-wrench"></i> Edit user settings
                </a>
            </li>
        </ul>
    </div>

    <div class="meetling-ui-menu">
        <button class="link"><i class="fa fa-fw fa-bars"></i></button>
        <ul>
            <li>
                <a class="link" href="/about">
                    <i class="fa fa-fw fa-question-circle"></i> About
                </a>
            </li>
            <li class="meetling-ui-edit-settings">
                <a class="action" href="/settings/edit">
                    <i class="fa fa-fw fa-wrench"></i> Edit site settings
                </a>
            </li>
        </ul>
    </div>
{% end %}

{% block templates %}
    <template class="meetling-user-template">
        <i class="fa fa-user"></i><span></span>
    </template>

    <template class="meetling-error-notification-template">
        <div class="micro-ui-inside compact">
            <p>
                <i class="fa fa-exclamation-triangle"></i> Oops, something went very wrong!
                We have been notified and will do our best to fix the problem as soon as
                possible. We are sorry for the inconvenience!
            </p>
            <p>In the meantime, you may reload the page and give it another try.</p>
            <p class="group">
                <button class="meetling-error-notification-reload action">
                    Reload the page
                </button>
            </p>
        </div>
    </template>

    {% include start.html %}
    {% include about.html %}
    {% include edit-user.html %}
    {% include edit-settings.html %}
    {% include meeting.html %}
    {% include edit-meeting.html %}
{% end %}
