<template class="micro-not-found-page-template">
    <h1 class="micro-icon-title"><i class="fa fa-map-signs"></i></h1>
    <p>Oops, we have not found the page you are looking for!</p>
    <p><small>If you've been here before, someone has deleted what was here.</small></p>
</template>

<template class="micro-forbidden-page-template">
    <h1 class="micro-icon-title"><i class="fa fa-lock"></i></h1>
    <p>Oops, you are not allowed to view this page!<p>
    <p><small>If you've been here before, someone has revoked your permission.</small></p>
</template>

<template class="micro-comments-template">
    <ul class="micro-object-list">
        <li class="micro-progress"><p><i class="fa fa-spinner fa-spin"></i></p></li>
        <li class="micro-comments-no-comments-label"><p>There are no comments yet.</p></li>
        <li class="micro-comments-comment">
            <form>
                <label>
                    <textarea name="text" required="required"></textarea>
                </label>
                <p class="actions">
                    <button is="micro-button" class="action">
                        <i class="fa fa-comment"></i> Comment
                    </button>
                </p>
            </form>
        </li>
    </ul>
</template>

<template class="micro-comment-template">
    <header class="group">
        <p><meetling-user></meetling-user>:</p>
        <micro-menu>
            <button class="action action-subtle"><i class="fa fa-pencil"></i> Edit</button>
            <button class="action action-subtle micro-menu-secondary">
                <i class="fa fa-trash-o"></i> Trash
            </button>
        </micro-menu>
    </header>
    <p class="micro-comment-text micro-multiline"></p>
</template>
