<template class="micro-not-found-page-template">
    <h1 class="micro-icon-title"><i class="fa fa-map-signs"></i></h1>
    <p>Oops, we have not found the page you are looking for!</p>
    <p><small>If you've been here before, someone has deleted what was here.</small></p>
</template>

<template class="micro-forbidden-page-template">
    <h1 class="micro-icon-title"><i class="fa fa-lock"></i></h1>
    <p>Oops, you are not allowed to view this page!<p>
    <p><small>If you've been here before, someone has revoked your permission.</small></p>
</template>

<template class="micro-activity-page-template">
    <h1>Site activity</h1>
    <p><small><i class='fa fa-eye'></i> Only visible to staff members</small></p>
    <ul>
        <li class="micro-lgroup">
            <ul class="micro-timeline" data-content="list events 'event'">
                <li>
                    <time data-date-time="event.time" data-content="formatDate event.time"></time>
                    <span data-content="renderEvent event"></span>
                </li>
            </ul>
        </li>
        <li class="micro-activity-show-more" data-visible="moreEvents">
            <button is="micro-button" class="link" data-run="showMore">
                <i class="fa fa-ellipsis-v"></i> Show more
            </button>
        </li>
    </ul>
</template>

<template class="micro-editable-edit-event-template">
    <span
        data-content="translate 'event.editableEdit' user.language 'settings' 'a' 'user' 'meetling-user'">
        <a class="link" href="/settings/edit"
           data-content="translate 'event.siteSettings' user.language">
        </a>
        <meetling-user data-user="user"></meetling-user>
    </span>
</template>
