<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1; user-scalable=no" />
        <title>{{ settings.title }}</title>

        {% if settings.favicon %}<link rel="icon" href="{{ settings.favicon }}" />{% end %}
        <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/static/meetling.css" />

        <script src="/static/lib/fetch/fetch.js"></script>
        <script src="/static/lib/webcomponentsjs/webcomponents-lite.js"></script>
        <script src="/static/meetling.js"></script>
    </head>

    <body {% block page-attrs %}is="meetling-page"{% end %}>
        <header class="meetling-page-header">
            <nav class="meetling-page-inside">
                <h1 class="meetling-page-logo">
                    <a class="link" href="/">
                        {% if settings.favicon %}<img src="{{ settings.favicon }}" />{% end %}
                        {{ settings.title }}
                    </a>
                </h1>

                <div class="meetling-page-header-fill"></div>

                <div class="meetling-page-menu">
                    <button class="link"><i class="fa fa-fw fa-bars"></i></button>
                    <ul>
                        <li>
                            <a class="link" href="/about">
                                <i class="fa fa-fw fa-question-circle"></i> About
                            </a>
                        </li>
                        {% if user.id in settings.staff %}
                            <li>
                                <a class="action" href="/settings/edit">
                                    <i class="fa fa-fw fa-wrench"></i> Edit site settings
                                </a>
                            </li>
                        {% end %}
                    </ul>
                </div>
            </nav>

            <div class="meetling-page-notification">
                <div class="meetling-page-inside">
                    <div class="meetling-page-notification-content"></div>
                    <p class="actions">
                        <button class="action action-subtle meetling-page-notification-dismiss">
                            Dismiss
                        </button>
                    </p>
                </div>
            </div>
        </header>

        <main>
            <div class="meetling-page-inside">
                {% block page-content %}{% end %}
            </div>
        </main>
    </body>
</html>
