<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1; user-scalable=no" />
        <title>{{ settings.title }}</title>

        {% if settings.favicon %}<link rel="icon" href="{{ settings.favicon }}" />{% end %}
        <link rel="stylesheet" href="/static/lib/pikaday/css/pikaday.css" />
        <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/static/micro.css" />
        <link rel="stylesheet" href="/static/meetling.css" />

        <script src="/static/lib/fetch/fetch.js"></script>
        <script src="/static/lib/webcomponentsjs/webcomponents-lite.js"></script>
        <script src="/static/lib/pikaday/pikaday.js"></script>
        <script src="/static/micro.js"></script>
        <script src="/static/meetling.js"></script>
    </head>

    <body {% block page-attrs %}is="meetling-page"{% end %}
          user="{{ json_encode(user.json(exclude_private=True)) }}">
        <header class="meetling-page-header">
            <nav class="meetling-page-inside group">
                <h1 class="meetling-page-logo">
                    <a class="link" href="/">
                        {% if settings.favicon %}<img src="{{ settings.favicon }}" />{% end %}
                        {{ settings.title }} <span class="prio3">Beta</span>
                    </a>
                </h1>

                <div class="meetling-page-header-fill"></div>

                <div class="meetling-page-menu">
                    <button class="link">
                        <meetling-user user="{{ json_encode(user.json(exclude_private=True)) }}">
                        </meetling-user>
                    </button>
                    <ul>
                        <li>
                            <a class="action" href="/users/{{ user.id }}/edit">
                                <i class="fa fa-fw fa-wrench"></i> Edit user settings
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="meetling-page-menu">
                    <button class="link"><i class="fa fa-fw fa-bars"></i></button>
                    <ul>
                        <li>
                            <a class="link" href="/about">
                                <i class="fa fa-fw fa-question-circle"></i> About
                            </a>
                        </li>
                        {% if user in settings.staff %}
                            <li>
                                <a class="action" href="/settings/edit">
                                    <i class="fa fa-fw fa-wrench"></i> Edit site settings
                                </a>
                            </li>
                        {% end %}
                    </ul>
                </div>
            </nav>

            <div class="meetling-page-notification-space"></div>
        </header>

        <main>
            <div class="meetling-page-inside">
                <script>
                    // Use ES3 here, because there still are browsers out there that support no
                    // more recent version
                    var elem = document.createElement("input");
                    var features = {};
                    features.es6TemplateLiterals = true;
                    try {
                        eval("var foo = `${42}`;");
                    } catch (e) {
                        features.es6TemplateLiterals = false;
                    }
                    features.es6Promise = "Promise" in window;
                    features.html5Constraints = "validity" in elem;
                    features.dom4ClassList = "classList" in elem;
                    features.dom4Selectors = "querySelector" in document;

                    if (!(features.es6TemplateLiterals && features.es6Promise &&
                          features.html5Constraints && features.dom4ClassList &&
                          features.dom4Selectors)) {
                        document.write('<p style="color: red;">Oops, your device/browser seems to be outdated and not able to run this web app. Please update your device/browser.</p>');
                    }
                </script>
                {% block page-content %}{% end %}
            </div>
        </main>

        <div class="templates">
            <div class="micro-menu-template">
                <button class="micro-menu-toggle-secondary action action-subtle">
                    <i class="fa"></i>
                </button>
            </div>

            <div class="meetling-user-template">
                <i class="fa fa-user"></i><span></span>
            </div>

            <div class="meetling-simple-notification-template">
                <div class="meetling-page-inside compact">
                    <div class="meetling-simple-notification-content"></div>
                    <p class="group">
                        <button class="meetling-simple-notification-dismiss action action-subtle">
                            Dismiss
                        </button>
                    </p>
                </div>
            </div>

            <div class="meetling-error-notification-template">
                <div class="meetling-page-inside compact">
                    <p>
                        <i class="fa fa-exclamation-triangle"></i> Oops, something went very wrong!
                        We have been notified and will do our best to fix the problem as soon as
                        possible. We are sorry for the inconvenience!
                    </p>
                    <p>In the meantime, you may reload the page and give it another try.</p>
                    <p class="group">
                        <button class="meetling-error-notification-reload action">
                            Reload the page
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
