<template class="meetling-start-page-template">
    <div class="meetling-start-intro">
        <h1 class="meetling-logo" href="/">
            <a class="link"><img /><span></span></a>
        </h1>
        <p class="meetling-start-slogan">Prepare meetings together</p>
        <a class="oinkoink">Notify me via Telegram</a>
        <p class="meetling-start-description">
            Collaboratively draft an agenda. Let everyone propose and edit agenda items. Free,
            simple and no registration required.
        </p>
        <p>
            <a class="action meetling-start-create-meeting" href="/create-meeting">
                <i class="fa fa-paper-plane"></i> Start a meeting
            </a>
        </p>
        <p>
            or
            <button class="link meetling-start-create-example-meeting">
                <i class="fa fa-book"></i> View an example
            </button>
        </p>
    </div>
</template>
