<template class="meetling-start-page-template">
    <div class="meetling-start-intro">
        <h1 class="meetling-logo" href="/">
            <a class="link"><img /><span></span></a>
        </h1>
        <p class="meetling-start-slogan" data-text="start.slogan"></p>
        <p class="meetling-start-description" data-text="start.description"></p>
        <p>
            <a class="action meetling-start-create-meeting" href="/create-meeting">
                <i class="fa fa-paper-plane"></i> <span data-text="start.action"></span>
            </a>
        </p>
        <p data-text="start.example"></p>
    </div>
</template>

<template class="meetling-start-create-example-meeting-template">
    <button is="micro-button" class="link meetling-start-create-example-meeting">
        <i class="fa fa-book"></i> <span data-text="start.example-link"></span>
    </button>
</template>
